<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Firefox execution 2" preserve-order="true">
        <parameter name="browser" value="firefox" />
        <packages>
            <package name="specs"/>
        </packages>
    </test>
</suite>